.pagination {
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-item .page-link {
    background-color: #83B4FF;
    border: none;
    color: #1A2130;
  }
  
  .page-item .page-link:hover {
    background-color: #5A72A0;
    color: #FDFFE2;
  }
  
  .page-item.active .page-link {
    background-color: #5A72A0;
    border: none;
    color: #FDFFE2;
  }
  
  .page-item.disabled .page-link {
    background-color: #E3F2FD;
    color: #A9A9A9;
  }
  