.user-list-container {
    display: flex;
    justify-content: center;
  }
  
  .user-list-table {
    width: 80%;
    max-width: 800px;
    border-collapse: collapse;
    background-color: #FDFFE2;
    color: #1A2130;
  }
  
  .user-list-table th, .user-list-table td {
    border: 1px solid #5A72A0;
    padding: 10px;
    text-align: left;
  }
  
  .user-list-table th {
    background-color: #83B4FF;
    color: #1A2130;
  }
  
  .user-list-table tr:nth-child(even) {
    background-color: #E3F2FD;
  }

  @media (max-width: 768px) {
    .user-form {
      grid-template-columns: 1fr;
    }
  
    .search-bar-container .form-control {
      width: 80%;
    }
  
    .user-list-table {
      width: 100%;
    }
  }