@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
  background-color: #254336;
}



h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  font-family: 'Abril Fatface', cursive;
}

h3 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar-container .form-control {
  width: 50%;
  max-width: 400px;
  background-color: #B7B597;
  border: 1px solid #DAD3BE;
  color: #6B8A7A;
}

.user-form-container {
  margin-bottom: 20px;
}

.user-list-container {
  margin-bottom: 20px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .search-bar-container .form-control {
    width: 80%;
  }

  .user-form-container,
  .user-list-container,
  .pagination-container {
    padding: 0 10px;
  }

  .user-form {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .search-bar-container .form-control {
    width: 100%;
  }

  .user-form-container,
  .user-list-container,
  .pagination-container {
    padding: 0 5px;
  }
}
